export LD_LIBRARY_PATH=$HOME/llama_cpp/local/lib:$LD_LIBRARY_PATH
export LLAMA_ARG_MODELS_PRESET=$HOME/llama_cpp/presets.ini
export LLAMA_SERVER_URL=http://127.0.0.1:9931  # for llama-server-tool
PATH_add local/bin
PATH_add .venv/bin
